[Unit]
Description=Meilisearch
After=network.target

[Service]
Type=simple
ExecStart=/home/ec2-user/meilisearch --master-key=`{process.env.MEILISEARCH_API_KEY}` --http-addr=">
Restart=always
User=ec2-user
WorkingDirectory=/home/ec2-user

[Install]
WantedBy=multi-user.target
